/*Board General CSS */
#board {
	border: 1px solid black;
  height: 95vh;
  box-sizing: border-box;
}

#board-container {
  width: 80%;
  float: left;
}

#board-item-container {
  width: 90%;
  float: left;
  height: 100%;
}

#board .row {
	height: 33.3333%;
}

#board .item {
	padding: 10px;
  box-sizing: border-box;
  height: 33.3333%;
  width: 50%;
  float: left;
  border: 1px solid black;
  border-radius: 50%;
  background-color: #F4F4F4;
}

/*Column Button*/
#column-btn-container {
  width: 10%;
  float: left;
  height: 100%;
}

button.col-btn {
  height: 33.333%;
  width: 100%;
  padding: 0px;
  line-height: 0px;
}

.col-btn div {
  transform: rotate(90deg);
}

/*Row Button*/
#row-btn-container {
  height: 5vh;
  width: 90%;
}

button.row-btn {
  width: 50%;
  height: 100%;
  line-height: 0px;
}