#board-container {
	width: 80%;
	float: left;
}

#board {
	border: 1px solid black;
  height: 95vh;
  box-sizing: border-box;
}

#button-container {
  height: 5vh;
}

#board .row {
	height: 33.3333%;
}

#board .item {
	padding: 10px;
  box-sizing: border-box;
  height: 33.3333%;
  width: 50%;
  float: left;
  border: 1px solid black;
}

#board .item.selected {
	border: 1px solid yellow;
}

.row-btn {
  background-color: lightblue;
  width: 50%;
}