#options-container {
	width: 20%;
	float: left;
}

#options {
	border: 1px solid black;
  height: 100vh;
  box-sizing: border-box;
}

/* Power */
#powerList {
	list-style: none;
	height: 100%;
	padding: 0px;
  text-align: center;
  margin: 0px;
}

.powerItem {
	border: 1px solid black;
	height: 7.7%;
  font-size: 12px;
}

.powerItem.selected {
	border: 3px solid yellow;
}

.powerValue {
	transform: rotate(90deg);
  display: inline-block;
  top: 25%;
  position: relative;
}

.powerValue.triggerValue {
	color: red;
}

.powerItem.operator {
	font-size: 15px;
}
